@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --viewportDesktop: 1440;
}

@font-face {
  font-family: 'Bitter';
  src: url('../../public/fonts/Bitter-Bold.ttf') format('opentype');
  /* src: url('/public/fonts/Bitter-Bold.ttf') format('opentype'); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  src: url('../../public/fonts/Bitter-Regular.ttf') format('truetype');
  /* src: url('/public/fonts/Bitter-Regular.ttf') format('truetype'); */
  font-weight: 400;
  font-style: normal;
}

.bitter-font {
  font-family: 'Bitter', serif;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('../../public/fonts/InterTight-Light.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../public/fonts/HelveticaNeueLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-helvetica: "Helvetica Neue", "sans-serif";
  /* --font-helvetica: "Helvetica Neue", "sans-serif"; */
  --font-inter: "Inter Tight";
  --font-Bitter: "Bitter";
}

.font-helvectica-css {
  font-family: 'Helvetica Neue', sans-serif !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  overflow-x: hidden;
}
/* html{
  overflow-x: hidden;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap'); */

body:has(.mobileHeader){
  overflow: hidden;
}

body:has(.mobileHeader) {
  overflow: hidden;
}

/* Apply Inter to all tags by default */
body,
html,
* {
  font-family: var(--font-inter);
}

/* Override font for all span tags */
h1 {
  font-family: var(--font-Bitter);
}

/* Utility class for title font size */
.clamp-title {
  font-size: clamp(24px,
      calc(48 * (100vw / var(--viewportDesktop))),
      48px);
  line-height: 120%;

}

/* Utility class for description font size */
.clamp-description {
  font-size: clamp(14px,
      calc(16 * (100vw / var(--viewportDesktop))),
      16px);
  line-height: 160%;
}

.clamp-title-82 {
  font-size: clamp(40px, 6.5vw, 82px);
  line-height: 120%;
  font-weight: 600;
}

.slick-slide {
  transition: transform 0.3s ease-in-out;
}

.slick-slide:not(.slick-center) {
  scale: 0.8;
}

.overlay-image {
  position: absolute;
  inset: 0;
  background-image: url('../../public/slideroverlay.png');
  /* Replace with your overlay image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  /* so the overlay doesn't block interactions */
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slick-slide:not(.slick-center) .overlay-image {
  opacity: 1;
}

.pulse-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.pulse-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  background: rgba(255, 0, 0, 0.4);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: pulseAnimation 2s ease-out infinite;
  z-index: 1;
  opacity: 0;
}

.pulse-ring:nth-child(2) {
  animation-delay: 1s;
}

.description-slide {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.description-slide-visible {
  max-height: 100%;
  /* Adjust this to fit your content */
  opacity: 1;
}


@keyframes pulseAnimation {
  0% {
    transform: translate(-50%, -50%) scale(.5);
    opacity: 0.6;
  }

  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

.ticker {
  animation: ticker-marquee 30s linear infinite;
}

@keyframes ticker-marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.logo-ticker {
  animation: logo-marquee 30s linear infinite;
}

@keyframes logo-marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 749px){
  .mobile-background-image{
    background-image: url('/howitworks.png');
  }
}


/* .bg-red-500 {
  background-color: #ef4444 !important;
} */

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: #292727; /* Gray background */
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #F55252; /* Red scroll thumb */
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #e04a4a; /* Darker red on hover */
  }
